$photo-width: 29.75rem;
$illustration-container: 1rem;
$total-paintings: 18;
$artist-img-width: 8rem;

.details {
  display: flex;
  gap: 4.8rem;
}

.painting-image {
  max-width: 29.6875rem;
}
.painting__image-container {
  position: relative;
  width: 100%;
}
.painting__heading-container {
  position: absolute;
  top: 0;
  left: calc(475px - 4rem);
  max-width: 28.25rem;
  padding: 0 0 4rem 4rem;
  background-color: white;
}
.painting__heading-name {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}

.painting__heading-artist {

  font-size: 0.9375rem;
  font-weight: 400;
  color: #7d7d7d;
  margin-top: 1.5rem;
}
.painting__artist-img {
  position: absolute;
  bottom: calc(#{$artist-img-width} / -2);
  left: calc(475px + 2rem);
}
.painting__description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .painting_year {
    font-size: 12.5rem;
    font-weight: 700;
    color: #f3f3f3;
    line-height: 0.8;
  }

  .painting__description {
    margin-top: -39px;
    max-width: 21.875rem;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 28px;
    color: #7d7d7d;
  }
}
.painting__source {
  font-size: 0.5625rem;
  color: #7d7d7d;
  letter-spacing: 1.92857px;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.slideshow-nav {

  &-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
  }
  
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1.5rem 2.5rem;
  }

  &__progress-bar {
    display: block;
    height: 1px;
    background-color: #000000;
    opacity: 0.75;
    animation: slide-progress 0.4s ease-out;
  }
}
.slideshow-nav-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.slideshow-nav__painting-title {
  color: #000000;
  font-weight: 700;
  font-size: 1.125rem;
}
.slideshow-nav__painting-artist {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.8125rem;
}
.slideshow-nav__icons-actions {
  display: flex;
  gap: 2.5rem;
}
svg.slideshow-nav__icons path {
  fill: #7d7d7d;
}
